USE [master]
GO
/****** Object:  Database [OperaLearningSystemDB]    Script Date: 2026/4/11 14:08:06 ******/
CREATE DATABASE [OperaLearningSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OperaLearningSystemDB', FILENAME = N'E:\Microsoft SQL Server\MSSQL16.SQLSERVER\MSSQL\DATA\OperaLearningSystemDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OperaLearningSystemDB_log', FILENAME = N'E:\Microsoft SQL Server\MSSQL16.SQLSERVER\MSSQL\DATA\OperaLearningSystemDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OperaLearningSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OperaLearningSystemDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminApplications]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminApplications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Reason] [nvarchar](500) NOT NULL,
	[Status] [int] NOT NULL,
	[RejectReason] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ProcessedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_AdminApplications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AiCharacters]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AiCharacters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[AvatarUrl] [nvarchar](255) NOT NULL,
	[BackgroundUrl] [nvarchar](255) NOT NULL,
	[SystemPrompt] [nvarchar](max) NOT NULL,
	[GreetingMessage] [nvarchar](500) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_AiCharacters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AiChatMessages]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AiChatMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CharacterId] [int] NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AiChatMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Bio] [nvarchar](300) NULL,
	[BirthDate] [datetime2](7) NULL,
	[Gender] [nvarchar](10) NULL,
	[Nickname] [nvarchar](50) NULL,
	[Province] [nvarchar](50) NULL,
	[Hobbies] [nvarchar](200) NULL,
	[DreamPersonaSummary] [nvarchar](2000) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [int] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ParentId] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[History] [nvarchar](max) NOT NULL,
	[AuditStatus] [int] NOT NULL,
	[SubmitterId] [int] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
	[PlayId] [int] NULL,
	[CourseId] [int] NULL,
	[PostId] [int] NULL,
	[ParentCommentId] [int] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentVotes]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentVotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CommentId] [int] NOT NULL,
	[Value] [smallint] NOT NULL,
 CONSTRAINT [PK_CommentVotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommunityPosts]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommunityPosts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[CreatedTime] [datetime2](7) NOT NULL,
	[AuthorId] [int] NOT NULL,
	[MediaUrls] [nvarchar](max) NULL,
	[PostKind] [int] NOT NULL,
	[RegionLabel] [nvarchar](max) NULL,
	[TopicTags] [nvarchar](max) NULL,
 CONSTRAINT [PK_CommunityPosts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[VideoUrl] [nvarchar](max) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[IsFeatured] [bit] NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[AuditStatus] [int] NOT NULL,
	[SubmitterId] [int] NULL,
	[BilibiliEmbedHtml] [nvarchar](max) NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PlayId] [int] NULL,
	[CourseId] [int] NULL,
	[MasterId] [int] NULL,
 CONSTRAINT [PK_Favorites] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Likes]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PlayId] [int] NULL,
	[CourseId] [int] NULL,
	[MasterId] [int] NULL,
	[CommentId] [int] NULL,
	[CommunityPostId] [int] NULL,
	[ReactionKind] [tinyint] NOT NULL,
 CONSTRAINT [PK_Likes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Masters]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Masters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Introduction] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Rating] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[AuditStatus] [int] NOT NULL,
	[SubmitterId] [int] NULL,
 CONSTRAINT [PK_Masters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperaLyrics]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperaLyrics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Interpretation] [nvarchar](max) NOT NULL,
	[PlayId] [int] NULL,
	[SourceText] [nvarchar](max) NULL,
 CONSTRAINT [PK_OperaLyrics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperaQuotes]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperaQuotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedTime] [datetime2](7) NOT NULL,
	[AuthorId] [int] NOT NULL,
 CONSTRAINT [PK_OperaQuotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperaStageRegions]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperaStageRegions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_OperaStageRegions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperaStages]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperaStages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegionId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Introduction] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[SortOrder] [int] NOT NULL,
	[SubmitterId] [int] NULL,
	[AuditStatus] [int] NOT NULL,
 CONSTRAINT [PK_OperaStages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayMasters]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayMasters](
	[MasterId] [int] NOT NULL,
	[PlayId] [int] NOT NULL,
 CONSTRAINT [PK_PlayMasters] PRIMARY KEY CLUSTERED 
(
	[PlayId] ASC,
	[MasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plays]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Synopsis] [nvarchar](max) NOT NULL,
	[VideoUrl] [nvarchar](max) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[AuditStatus] [int] NOT NULL,
	[SubmitterId] [int] NULL,
 CONSTRAINT [PK_Plays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizQuestions]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizQuestions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionType] [int] NOT NULL,
	[Difficulty] [float] NOT NULL,
	[Prompt] [nvarchar](max) NOT NULL,
	[OptionsJson] [nvarchar](max) NOT NULL,
	[CorrectIndex] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Tags] [nvarchar](max) NULL,
	[CourseId] [int] NULL,
	[Explanation] [nvarchar](max) NULL,
 CONSTRAINT [PK_QuizQuestions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserBadges]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBadges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BadgeCode] [nvarchar](max) NOT NULL,
	[EarnedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserBadges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCourseQuizAttempts]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCourseQuizAttempts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[CorrectCount] [int] NOT NULL,
	[TotalCount] [int] NOT NULL,
	[FinishedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserCourseQuizAttempts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCourseQuizSessions]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCourseQuizSessions](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[QuestionIdsJson] [nvarchar](max) NOT NULL,
	[CurrentIndex] [int] NOT NULL,
	[CorrectCount] [int] NOT NULL,
	[WrongCount] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserCourseQuizSessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLearningProfiles]    Script Date: 2026/4/11 14:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLearningProfiles](
	[UserId] [int] NOT NULL,
	[AbilityEstimate] [float] NOT NULL,
	[CorrectStreak] [int] NOT NULL,
	[WrongStreak] [int] NOT NULL,
 CONSTRAINT [PK_UserLearningProfiles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'', N'8.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250725185629_FixCascadeDeleteRules', N'8.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250809073303_AddImageUrlToPlay', N'8.0.6')
GO
SET IDENTITY_INSERT [dbo].[AdminApplications] ON 

INSERT [dbo].[AdminApplications] ([Id], [UserId], [Reason], [Status], [RejectReason], [CreatedAt], [ProcessedAt]) VALUES (1, 3, N'我是你大爷，我是你大爷，我是你大爷', 1, NULL, CAST(N'2026-03-24T22:04:32.8922835' AS DateTime2), CAST(N'2026-03-24T22:20:44.2938165' AS DateTime2))
INSERT [dbo].[AdminApplications] ([Id], [UserId], [Reason], [Status], [RejectReason], [CreatedAt], [ProcessedAt]) VALUES (2, 16, N'尊敬的平台管理组：
您好！我是一名热爱传统戏曲、熟悉平台规则的用户，长期关注并活跃于本平台，对戏曲文化、古戏台、戏曲剧目与传承有浓厚兴趣，也具备认真负责、耐心细致的做事态度。
现申请成为平台管理员，我将严格遵守平台管理规定，认真维护社区秩序，积极引导正向交流，及时处理违规内容，助力营造干净、友好、专业的戏曲交流氛围，为平台发展尽一份力。
恳请审核批准！', 1, NULL, CAST(N'2026-04-11T00:35:25.0875545' AS DateTime2), CAST(N'2026-04-11T00:38:05.2891755' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AdminApplications] OFF
GO
SET IDENTITY_INSERT [dbo].[AiCharacters] ON 

INSERT [dbo].[AiCharacters] ([Id], [Name], [Description], [AvatarUrl], [BackgroundUrl], [SystemPrompt], [GreetingMessage], [IsActive], [SortOrder]) VALUES (2, N'杜丽娘', N'昆曲《牡丹亭》', N'/images/ai/duliniang.jpg', N'/images/ai/peony_bg.jpg', N'你现在是昆曲《牡丹亭》沉浸式互动剧场的“总导演”。用户的角色是：【杜丽娘】。你需要扮演：旁白、丫鬟【春香】、以及梦中的书生【柳梦梅】。规则：1. 描写要带有江南园林的唯美感，词藻华丽婉约。2. 先用（括号）描写环境与动作，再输出NPC台词。3. 引导用户体验“游园”、“惊梦”、“寻梦”的剧情。4. 每次回复末尾，给出 A、B 两个符合人物性格的行动选项，帮助用户推进剧情。', N'（春光明媚，南安太守府的后花园内百花齐放。丫鬟春香拉着你的衣袖，指着满园春色，笑盈盈地望着你）

“小姐，您看这姹紫嫣红开遍，这园子可比那枯燥的闺房有趣多啦！咱们今日可要好好游赏一番！”

【系统提示：请以杜丽娘的身份回应，或者回复：A. 感叹春光易逝； B. 询问春香这是何处】', 1, 2)
SET IDENTITY_INSERT [dbo].[AiCharacters] OFF
GO
SET IDENTITY_INSERT [dbo].[AiChatMessages] ON 

INSERT [dbo].[AiChatMessages] ([Id], [UserId], [CharacterId], [Role], [Content], [CreatedAt]) VALUES (1004, 1, 1, N'user', N'虞兮虞兮奈若何', CAST(N'2026-04-11T00:44:11.2481328' AS DateTime2))
INSERT [dbo].[AiChatMessages] ([Id], [UserId], [CharacterId], [Role], [Content], [CreatedAt]) VALUES (1005, 1, 1, N'assistant', N'（帐外风声呼啸，烛火摇曳中，项羽按剑而立，眼中映着跳动的火光）爱姬...你可听见四面楚歌？八千江东子弟，如今只剩这帐中残烛。', CAST(N'2026-04-11T00:44:14.3969254' AS DateTime2))
INSERT [dbo].[AiChatMessages] ([Id], [UserId], [CharacterId], [Role], [Content], [CreatedAt]) VALUES (1006, 15, 2, N'user', N'A', CAST(N'2026-04-11T01:30:23.8996857' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AiChatMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[AspNetRoles] ON 

INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (1, N'Admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (2, N'SuperAdmin', N'SUPERADMIN', NULL)
SET IDENTITY_INSERT [dbo].[AspNetRoles] OFF
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (3, 1)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (16, 1)
GO
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [ParentId], [ImageUrl], [Description], [History], [AuditStatus], [SubmitterId]) VALUES (5, N'京剧', 0, N'/images/categories/a720cb22-fd1d-444f-858e-229fc34e227a_.jpg', N'京剧被誉为中国的“国粹”，是一种集唱、念、做、打、舞于一体的综合性表演艺术。其角色分为生、旦、净、丑四大行当，各自拥有独特的化妆（脸谱）、服饰和表演程式。京剧的音乐以西皮和二黄为主要声腔，节奏感强，表现力丰富。', N'京剧形成于北京，至今已有近200年历史。其源头可追溯到18世纪末，四大徽班进京献艺，在与昆曲、汉剧、梆子等剧种的交流融合中，吸收各自精粹，并结合北京的语言特色，逐渐演变而成。清朝末期至民国年间是京剧发展的黄金时代，涌现出如梅兰芳、程砚秋等一代宗师，将京剧艺术推向了顶峰。', 1, 3)
INSERT [dbo].[Categories] ([Id], [Name], [ParentId], [ImageUrl], [Description], [History], [AuditStatus], [SubmitterId]) VALUES (6, N'越剧', 0, N'/images/categories/42e2bbee-2be1-4667-a2f0-536b55a135c2_越剧.jpg', N'越剧是中国第二大剧种，发源于浙江嵊州，主要流行于江浙沪地区。越剧以其抒情、柔美的“才子佳人”戏而闻名，唱腔清丽婉转，表演细腻传神。其一大特色是几乎所有角色都由女演员扮演，形成了独特的艺术风格。', N'越剧起源于20世纪初的乡村说唱“落地唱书”，最初由男演员演唱。1920年代进入上海后，逐渐转变为女子科班，并吸收了话剧、电影等艺术形式，进行了全面的改革。1940年代，以袁雪芬为代表的“越剧十姐妹”推动了“新越剧”的诞生，使其在艺术上走向成熟，并涌现出《梁山伯与祝英台》、《红楼梦》等经典剧目。', 1, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [Content], [CreatedAt], [UserId], [PlayId], [CourseId], [PostId], [ParentCommentId]) VALUES (1, N'哈哈哈', CAST(N'2025-08-08T17:25:18.1765592' AS DateTime2), 1, 11, NULL, NULL, NULL)
INSERT [dbo].[Comments] ([Id], [Content], [CreatedAt], [UserId], [PlayId], [CourseId], [PostId], [ParentCommentId]) VALUES (2, N'花为媒真的很好看！', CAST(N'2025-08-17T11:10:16.9476884' AS DateTime2), 1, 12, NULL, NULL, NULL)
INSERT [dbo].[Comments] ([Id], [Content], [CreatedAt], [UserId], [PlayId], [CourseId], [PostId], [ParentCommentId]) VALUES (3, N'你好
', CAST(N'2025-08-29T17:19:48.7712996' AS DateTime2), 1, NULL, 6, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[CommentVotes] ON 

INSERT [dbo].[CommentVotes] ([Id], [UserId], [CommentId], [Value]) VALUES (1, 1, 1016, 1)
INSERT [dbo].[CommentVotes] ([Id], [UserId], [CommentId], [Value]) VALUES (2, 1, 2016, -1)
SET IDENTITY_INSERT [dbo].[CommentVotes] OFF
GO
SET IDENTITY_INSERT [dbo].[CommunityPosts] ON 

SET IDENTITY_INSERT [dbo].[CommunityPosts] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [Name], [Description], [VideoUrl], [CategoryId], [IsFeatured], [ImageUrl], [AuditStatus], [SubmitterId], [BilibiliEmbedHtml]) VALUES (5, N'戏曲教唱：张云霞教唱越剧《孟丽君》《游龙飞凤》《貂蝉》选段', N'张云霞是著名越剧表演艺术家，创立了越剧“张派”。她教唱的《孟丽君》《游龙飞凤》《貂蝉》选段，展现了其独特的艺术风格。她的唱腔清丽委婉，表演细腻传神，融合了京剧、昆曲与越剧的精华，形成“一戏一腔”的特色。', N'https://www.bilibili.com/video/BV1EquQzHEoA?spm_id_from=333.788.videopod.episodes&vd_source=5c15758149c3144998122cee4054f2ec', 6, 0, N'/images/courses/6a6e05da-e1ea-4640-8b51-64404d3bbeed_戏曲教唱：张云霞教唱越剧《孟丽君》《游龙飞凤》《貂蝉》选段.png', 1, NULL, NULL)
INSERT [dbo].[Courses] ([Id], [Name], [Description], [VideoUrl], [CategoryId], [IsFeatured], [ImageUrl], [AuditStatus], [SubmitterId], [BilibiliEmbedHtml]) VALUES (6, N'戏曲教唱：单仰萍教唱越剧《春香传》《红楼梦》选段', N'著名越剧表演艺术家单仰萍倾情教唱《春香传》《红楼梦》选段。在《春香传》中，带你领略春香与李梦龙的深情；于《红楼梦》里，感受林黛玉细腻情思。单仰萍以精湛技艺，剖析唱腔、身段，带你走近经典越剧，体悟其中魅力。 ', N'https://www.bilibili.com/video/BV15vgbzEEnL?t=136.2', 6, 0, N'/images/courses/c22f5f21-64d9-4d66-92d1-b45b08bc7804_越剧表演进阶.jpg', 1, NULL, NULL)
INSERT [dbo].[Courses] ([Id], [Name], [Description], [VideoUrl], [CategoryId], [IsFeatured], [ImageUrl], [AuditStatus], [SubmitterId], [BilibiliEmbedHtml]) VALUES (7, N'戏曲教唱淮剧《赵五娘·书房会》', N'淮剧《赵五娘·书房会》选段开唱啦！书生蔡伯喈高中状元后忘却赵五娘，赵五娘历经苦难寻至京城。于书房相遇，她借血图倾诉公婆亡故、家乡受灾之惨，以及对丈夫的深切思念。本视频将细致教唱，带你感受淮剧独特魅力与这段故事的动人之处。 ', N'https://www.bilibili.com/video/BV1tpgxzfEAM?t=973.6', 18, 0, N'/images/courses/0e35dd31-2950-4f9e-8386-35dfbce2f578_戏曲教唱淮剧《赵五娘·书房会》.png', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Favorites] ON 

INSERT [dbo].[Favorites] ([Id], [UserId], [PlayId], [CourseId], [MasterId]) VALUES (29, 3, NULL, 9, NULL)
INSERT [dbo].[Favorites] ([Id], [UserId], [PlayId], [CourseId], [MasterId]) VALUES (2050, 15, 25, NULL, NULL)
INSERT [dbo].[Favorites] ([Id], [UserId], [PlayId], [CourseId], [MasterId]) VALUES (2052, 1, 23, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Favorites] OFF
GO
SET IDENTITY_INSERT [dbo].[Likes] ON 

INSERT [dbo].[Likes] ([Id], [UserId], [PlayId], [CourseId], [MasterId], [CommentId], [CommunityPostId], [ReactionKind]) VALUES (55, 3, NULL, NULL, 22, NULL, NULL, 0)
INSERT [dbo].[Likes] ([Id], [UserId], [PlayId], [CourseId], [MasterId], [CommentId], [CommunityPostId], [ReactionKind]) VALUES (2078, 1, NULL, NULL, 5, NULL, NULL, 0)
INSERT [dbo].[Likes] ([Id], [UserId], [PlayId], [CourseId], [MasterId], [CommentId], [CommunityPostId], [ReactionKind]) VALUES (2081, 15, 25, NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Likes] OFF
GO
SET IDENTITY_INSERT [dbo].[Masters] ON 

INSERT [dbo].[Masters] ([Id], [Name], [Introduction], [ImageUrl], [Rating], [CategoryId], [AuditStatus], [SubmitterId]) VALUES (4, N'梅兰芳', N'京剧“四大名旦”之首，创立了雍容华贵的“梅派”艺术。他不仅是中国最杰出的旦角（女角）表演艺术家，更是将京剧艺术推向世界的文化使者。其代表作《贵妃醉酒》、《霸王别姬》等已成为不朽的经典。', N'/images/masters/53d3ce35-9d9c-43f3-a249-92b15e8fe9f8_梅兰芳.jpg', 5, 5, 1, NULL)
INSERT [dbo].[Masters] ([Id], [Name], [Introduction], [ImageUrl], [Rating], [CategoryId], [AuditStatus], [SubmitterId]) VALUES (5, N'袁雪芬', N'越剧改革的旗帜性人物，“越剧十姐妹”之一。她对越剧旦角唱腔和表演进行了系统性的改革，创立了影响深远的“袁派”艺术。她主演的《祥林嫂》是越剧改革的里程碑式作品，标志着越剧从才子佳人戏走向了更深刻的社会现实题材。', N'/images/masters/5ef8d64d-8c9f-432e-8152-e2c21428508c_袁雪芬.jpg', 5, 6, 1, NULL)
INSERT [dbo].[Masters] ([Id], [Name], [Introduction], [ImageUrl], [Rating], [CategoryId], [AuditStatus], [SubmitterId]) VALUES (6, N'严凤英', N'黄梅戏的一代宗师，以其甜润圆滑、质朴自然的唱腔，创立了“严派”艺术。她主演的电影《天仙配》在全国引起轰动，使得黄梅戏从一个地方小戏发展成为全国知名的大剧种。她塑造的“七仙女”形象深入人心。', N'/images/masters/309aaf27-f8c2-4401-aa1a-2168db755024_严凤英.jpg', 5, 7, 1, NULL)
SET IDENTITY_INSERT [dbo].[Masters] OFF
GO
SET IDENTITY_INSERT [dbo].[OperaLyrics] ON 

INSERT [dbo].[OperaLyrics] ([Id], [Content], [Interpretation], [PlayId], [SourceText]) VALUES (1, N'原来姹紫嫣红开遍，似这般都付与断井颓垣。', N'杜丽娘游园时由景入情，感叹春色如许却无人欣赏，喻指自己青春虚度。', NULL, N'昆曲·牡丹亭')
INSERT [dbo].[OperaLyrics] ([Id], [Content], [Interpretation], [PlayId], [SourceText]) VALUES (2, N'看大王在帐中和衣睡稳，我这里出帐外且散愁情。', N'虞姬见霸王兵败被困，内心忧虑却强颜欢笑，趁霸王睡熟后独自抒发家国离散的悲凉。', NULL, N'京剧·霸王别姬')
INSERT [dbo].[OperaLyrics] ([Id], [Content], [Interpretation], [PlayId], [SourceText]) VALUES (3, N'树上的鸟儿成双对，绿水青山带笑颜。', N'七仙女与董永成婚后回乡途中所唱，表达了对人间自由幸福生活的向往与喜悦。', NULL, N'黄梅戏·天仙配')
SET IDENTITY_INSERT [dbo].[OperaLyrics] OFF
GO
SET IDENTITY_INSERT [dbo].[OperaQuotes] ON 

INSERT [dbo].[OperaQuotes] ([Id], [Content], [CreatedTime], [AuthorId]) VALUES (1, N'原来姹紫嫣红开遍，似这般都付与断井颓垣。', CAST(N'2025-11-15T13:08:42.3264814' AS DateTime2), 1)
INSERT [dbo].[OperaQuotes] ([Id], [Content], [CreatedTime], [AuthorId]) VALUES (2, N'情不知所起，一往而深。', CAST(N'2025-11-15T13:09:17.6659272' AS DateTime2), 1)
INSERT [dbo].[OperaQuotes] ([Id], [Content], [CreatedTime], [AuthorId]) VALUES (3, N'梦回莺啭，乱煞年光遍。人立小庭深渊院，炷尽沉烟，抛残绣线，恁今春关情似去年？', CAST(N'2025-11-15T13:14:03.4158440' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[OperaQuotes] OFF
GO
SET IDENTITY_INSERT [dbo].[OperaStageRegions] ON 

INSERT [dbo].[OperaStageRegions] ([Id], [Name], [SortOrder]) VALUES (1, N'山西省', 1)
INSERT [dbo].[OperaStageRegions] ([Id], [Name], [SortOrder]) VALUES (2, N'江西省乐平市', 2)
INSERT [dbo].[OperaStageRegions] ([Id], [Name], [SortOrder]) VALUES (3, N'浙江省', 3)
SET IDENTITY_INSERT [dbo].[OperaStageRegions] OFF
GO
SET IDENTITY_INSERT [dbo].[OperaStages] ON 

INSERT [dbo].[OperaStages] ([Id], [RegionId], [Name], [Introduction], [ImageUrl], [SortOrder], [SubmitterId], [AuditStatus]) VALUES (1, 1, N'临汾魏村牛王庙元代戏台', N'建于元至元二十年（ 1283年），中国现存最早元代戏台之一 ，方形台基、单檐歇山顶，见证戏曲从 “ 四面观 ” 向 “三面观 ”演变，梁架结构古朴，壁画遗存珍贵。', N'/images/opera-stages/2fc1659cca1345b89ab2a009b8d7f6d0.png', 1, 1, 1)
INSERT [dbo].[OperaStages] ([Id], [RegionId], [Name], [Introduction], [ImageUrl], [SortOrder], [SubmitterId], [AuditStatus]) VALUES (2, 1, N'高平王报村二郎庙金代戏台', N'建于金大定二十三年（ 1183年），中国现存最早戏台，石砌台基，单檐歇山顶，柱头斗拱简洁，印证北宋至金代戏曲演出 “登堂入室 ” 的转折。', N'/images/opera-stages/07fa1b02aee24cf4ae82fccfd3583f33.png', 2, 1, 1)
INSERT [dbo].[OperaStages] ([Id], [RegionId], [Name], [Introduction], [ImageUrl], [SortOrder], [SubmitterId], [AuditStatus]) VALUES (3, 1, N'翼城武池乔泽庙元代戏台', N'元代建筑，方形平面，前设表演区，后连献殿，梁枋彩绘留存，碑记载明建年，为研究元杂剧演出场所提供实物依据。', N'/images/opera-stages/e40dbd76c4ab44ad930c7632193af61e.png', 3, 1, 1)
SET IDENTITY_INSERT [dbo].[OperaStages] OFF
GO
INSERT [dbo].[PlayMasters] ([MasterId], [PlayId]) VALUES (4, 7)
INSERT [dbo].[PlayMasters] ([MasterId], [PlayId]) VALUES (4, 8)
INSERT [dbo].[PlayMasters] ([MasterId], [PlayId]) VALUES (5, 9)
GO
SET IDENTITY_INSERT [dbo].[Plays] ON 

SET IDENTITY_INSERT [dbo].[Plays] OFF
GO
SET IDENTITY_INSERT [dbo].[QuizQuestions] ON 

INSERT [dbo].[QuizQuestions] ([Id], [QuestionType], [Difficulty], [Prompt], [OptionsJson], [CorrectIndex], [ImageUrl], [Tags], [CourseId], [Explanation]) VALUES (1, 1, 1, N'故宫畅音阁寿台大戏楼主体可达几层相通以演出神仙题材？', N'["\u4E00\u5C42","\u4E8C\u5C42","\u4E09\u5C42","\u56DB\u5C42"]', 2, NULL, N'古建,戏台', NULL, NULL)
INSERT [dbo].[QuizQuestions] ([Id], [QuestionType], [Difficulty], [Prompt], [OptionsJson], [CorrectIndex], [ImageUrl], [Tags], [CourseId], [Explanation]) VALUES (2, 1, 1.4, N'德和园大戏楼位于哪座皇家园林？', N'["\u9890\u548C\u56ED","\u627F\u5FB7\u907F\u6691\u5C71\u5E84","\u5706\u660E\u56ED","\u5929\u575B"]', 0, NULL, N'古建', NULL, NULL)
INSERT [dbo].[QuizQuestions] ([Id], [QuestionType], [Difficulty], [Prompt], [OptionsJson], [CorrectIndex], [ImageUrl], [Tags], [CourseId], [Explanation]) VALUES (3, 2, 0.9, N'戏曲行当“花脸”多对应哪一类角色？', N'["\u751F","\u65E6","\u51C0","\u4E11"]', 2, NULL, N'戏曲常识', NULL, NULL)
SET IDENTITY_INSERT [dbo].[QuizQuestions] OFF
GO
/****** Object:  Index [IX_AdminApplications_UserId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_AdminApplications_UserId] ON [dbo].[AdminApplications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AiChatMessages_CharacterId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_AiChatMessages_CharacterId] ON [dbo].[AiChatMessages]
(
	[CharacterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 2026/4/11 14:08:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 2026/4/11 14:08:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Categories_SubmitterId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Categories_SubmitterId] ON [dbo].[Categories]
(
	[SubmitterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_CourseId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Comments_CourseId] ON [dbo].[Comments]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_ParentCommentId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Comments_ParentCommentId] ON [dbo].[Comments]
(
	[ParentCommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_PlayId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Comments_PlayId] ON [dbo].[Comments]
(
	[PlayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_PostId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Comments_PostId] ON [dbo].[Comments]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_UserId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Comments_UserId] ON [dbo].[Comments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentVotes_CommentId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_CommentVotes_CommentId] ON [dbo].[CommentVotes]
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentVotes_UserId_CommentId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CommentVotes_UserId_CommentId] ON [dbo].[CommentVotes]
(
	[UserId] ASC,
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommunityPosts_AuthorId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_CommunityPosts_AuthorId] ON [dbo].[CommunityPosts]
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommunityPosts_CategoryId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_CommunityPosts_CategoryId] ON [dbo].[CommunityPosts]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Courses_CategoryId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Courses_CategoryId] ON [dbo].[Courses]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Courses_SubmitterId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Courses_SubmitterId] ON [dbo].[Courses]
(
	[SubmitterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Favorites_CourseId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Favorites_CourseId] ON [dbo].[Favorites]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Favorites_MasterId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Favorites_MasterId] ON [dbo].[Favorites]
(
	[MasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Favorites_PlayId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Favorites_PlayId] ON [dbo].[Favorites]
(
	[PlayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Favorites_UserId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Favorites_UserId] ON [dbo].[Favorites]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Likes_CommentId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Likes_CommentId] ON [dbo].[Likes]
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Likes_CommunityPostId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Likes_CommunityPostId] ON [dbo].[Likes]
(
	[CommunityPostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Likes_CourseId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Likes_CourseId] ON [dbo].[Likes]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Likes_MasterId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Likes_MasterId] ON [dbo].[Likes]
(
	[MasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Likes_PlayId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Likes_PlayId] ON [dbo].[Likes]
(
	[PlayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Likes_UserId_CommunityPostId_ReactionKind]    Script Date: 2026/4/11 14:08:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Likes_UserId_CommunityPostId_ReactionKind] ON [dbo].[Likes]
(
	[UserId] ASC,
	[CommunityPostId] ASC,
	[ReactionKind] ASC
)
WHERE ([CommunityPostId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Masters_CategoryId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Masters_CategoryId] ON [dbo].[Masters]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Masters_SubmitterId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Masters_SubmitterId] ON [dbo].[Masters]
(
	[SubmitterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OperaLyrics_PlayId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_OperaLyrics_PlayId] ON [dbo].[OperaLyrics]
(
	[PlayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OperaQuotes_AuthorId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_OperaQuotes_AuthorId] ON [dbo].[OperaQuotes]
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OperaStages_RegionId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_OperaStages_RegionId] ON [dbo].[OperaStages]
(
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OperaStages_SubmitterId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_OperaStages_SubmitterId] ON [dbo].[OperaStages]
(
	[SubmitterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlayMasters_MasterId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_PlayMasters_MasterId] ON [dbo].[PlayMasters]
(
	[MasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Plays_CategoryId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Plays_CategoryId] ON [dbo].[Plays]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Plays_SubmitterId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_Plays_SubmitterId] ON [dbo].[Plays]
(
	[SubmitterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuizQuestions_CourseId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_QuizQuestions_CourseId] ON [dbo].[QuizQuestions]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserBadges_UserId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_UserBadges_UserId] ON [dbo].[UserBadges]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserCourseQuizAttempts_CourseId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_UserCourseQuizAttempts_CourseId] ON [dbo].[UserCourseQuizAttempts]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserCourseQuizAttempts_UserId_FinishedAt]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_UserCourseQuizAttempts_UserId_FinishedAt] ON [dbo].[UserCourseQuizAttempts]
(
	[UserId] ASC,
	[FinishedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserCourseQuizSessions_CourseId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_UserCourseQuizSessions_CourseId] ON [dbo].[UserCourseQuizSessions]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserCourseQuizSessions_ExpiresAt]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_UserCourseQuizSessions_ExpiresAt] ON [dbo].[UserCourseQuizSessions]
(
	[ExpiresAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserCourseQuizSessions_UserId]    Script Date: 2026/4/11 14:08:06 ******/
CREATE NONCLUSTERED INDEX [IX_UserCourseQuizSessions_UserId] ON [dbo].[UserCourseQuizSessions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [AuditStatus]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CommunityPosts] ADD  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[CommunityPosts] ADD  DEFAULT ((0)) FOR [PostKind]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [AuditStatus]
GO
ALTER TABLE [dbo].[Likes] ADD  DEFAULT (CONVERT([tinyint],(0))) FOR [ReactionKind]
GO
ALTER TABLE [dbo].[Masters] ADD  DEFAULT ((0)) FOR [AuditStatus]
GO
ALTER TABLE [dbo].[Plays] ADD  DEFAULT (N'') FOR [ImageUrl]
GO
ALTER TABLE [dbo].[Plays] ADD  DEFAULT ((0)) FOR [AuditStatus]
GO
ALTER TABLE [dbo].[AdminApplications]  WITH CHECK ADD  CONSTRAINT [FK_AdminApplications_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdminApplications] CHECK CONSTRAINT [FK_AdminApplications_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AiChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_AiChatMessages_AiCharacters_CharacterId] FOREIGN KEY([CharacterId])
REFERENCES [dbo].[AiCharacters] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AiChatMessages] CHECK CONSTRAINT [FK_AiChatMessages_AiCharacters_CharacterId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_AspNetUsers_SubmitterId] FOREIGN KEY([SubmitterId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_AspNetUsers_SubmitterId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Comments_ParentCommentId] FOREIGN KEY([ParentCommentId])
REFERENCES [dbo].[Comments] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Comments_ParentCommentId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_CommunityPosts_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[CommunityPosts] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_CommunityPosts_PostId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Courses_CourseId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Plays_PlayId] FOREIGN KEY([PlayId])
REFERENCES [dbo].[Plays] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Plays_PlayId]
GO
ALTER TABLE [dbo].[CommentVotes]  WITH CHECK ADD  CONSTRAINT [FK_CommentVotes_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[CommentVotes] CHECK CONSTRAINT [FK_CommentVotes_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CommentVotes]  WITH CHECK ADD  CONSTRAINT [FK_CommentVotes_Comments_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommentVotes] CHECK CONSTRAINT [FK_CommentVotes_Comments_CommentId]
GO
ALTER TABLE [dbo].[CommunityPosts]  WITH CHECK ADD  CONSTRAINT [FK_CommunityPosts_AspNetUsers_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommunityPosts] CHECK CONSTRAINT [FK_CommunityPosts_AspNetUsers_AuthorId]
GO
ALTER TABLE [dbo].[CommunityPosts]  WITH CHECK ADD  CONSTRAINT [FK_CommunityPosts_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommunityPosts] CHECK CONSTRAINT [FK_CommunityPosts_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_AspNetUsers_SubmitterId] FOREIGN KEY([SubmitterId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_AspNetUsers_SubmitterId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Courses_CourseId]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Masters_MasterId] FOREIGN KEY([MasterId])
REFERENCES [dbo].[Masters] ([Id])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Masters_MasterId]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Plays_PlayId] FOREIGN KEY([PlayId])
REFERENCES [dbo].[Plays] ([Id])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Plays_PlayId]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Likes_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_Comments_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comments] ([Id])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Likes_Comments_CommentId]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_CommunityPosts_CommunityPostId] FOREIGN KEY([CommunityPostId])
REFERENCES [dbo].[CommunityPosts] ([Id])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Likes_CommunityPosts_CommunityPostId]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Likes_Courses_CourseId]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_Masters_MasterId] FOREIGN KEY([MasterId])
REFERENCES [dbo].[Masters] ([Id])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Likes_Masters_MasterId]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_Plays_PlayId] FOREIGN KEY([PlayId])
REFERENCES [dbo].[Plays] ([Id])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Likes_Plays_PlayId]
GO
ALTER TABLE [dbo].[Masters]  WITH CHECK ADD  CONSTRAINT [FK_Masters_AspNetUsers_SubmitterId] FOREIGN KEY([SubmitterId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Masters] CHECK CONSTRAINT [FK_Masters_AspNetUsers_SubmitterId]
GO
ALTER TABLE [dbo].[Masters]  WITH CHECK ADD  CONSTRAINT [FK_Masters_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Masters] CHECK CONSTRAINT [FK_Masters_Categories_CategoryId]
GO
ALTER TABLE [dbo].[OperaLyrics]  WITH CHECK ADD  CONSTRAINT [FK_OperaLyrics_Plays_PlayId] FOREIGN KEY([PlayId])
REFERENCES [dbo].[Plays] ([Id])
GO
ALTER TABLE [dbo].[OperaLyrics] CHECK CONSTRAINT [FK_OperaLyrics_Plays_PlayId]
GO
ALTER TABLE [dbo].[OperaQuotes]  WITH CHECK ADD  CONSTRAINT [FK_OperaQuotes_AspNetUsers_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OperaQuotes] CHECK CONSTRAINT [FK_OperaQuotes_AspNetUsers_AuthorId]
GO
ALTER TABLE [dbo].[OperaStages]  WITH CHECK ADD  CONSTRAINT [FK_OperaStages_AspNetUsers_SubmitterId] FOREIGN KEY([SubmitterId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[OperaStages] CHECK CONSTRAINT [FK_OperaStages_AspNetUsers_SubmitterId]
GO
ALTER TABLE [dbo].[OperaStages]  WITH CHECK ADD  CONSTRAINT [FK_OperaStages_OperaStageRegions_RegionId] FOREIGN KEY([RegionId])
REFERENCES [dbo].[OperaStageRegions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OperaStages] CHECK CONSTRAINT [FK_OperaStages_OperaStageRegions_RegionId]
GO
ALTER TABLE [dbo].[PlayMasters]  WITH CHECK ADD  CONSTRAINT [FK_PlayMasters_Masters_MasterId] FOREIGN KEY([MasterId])
REFERENCES [dbo].[Masters] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlayMasters] CHECK CONSTRAINT [FK_PlayMasters_Masters_MasterId]
GO
ALTER TABLE [dbo].[PlayMasters]  WITH CHECK ADD  CONSTRAINT [FK_PlayMasters_Plays_PlayId] FOREIGN KEY([PlayId])
REFERENCES [dbo].[Plays] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlayMasters] CHECK CONSTRAINT [FK_PlayMasters_Plays_PlayId]
GO
ALTER TABLE [dbo].[Plays]  WITH CHECK ADD  CONSTRAINT [FK_Plays_AspNetUsers_SubmitterId] FOREIGN KEY([SubmitterId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Plays] CHECK CONSTRAINT [FK_Plays_AspNetUsers_SubmitterId]
GO
ALTER TABLE [dbo].[Plays]  WITH CHECK ADD  CONSTRAINT [FK_Plays_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Plays] CHECK CONSTRAINT [FK_Plays_Categories_CategoryId]
GO
ALTER TABLE [dbo].[QuizQuestions]  WITH CHECK ADD  CONSTRAINT [FK_QuizQuestions_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuizQuestions] CHECK CONSTRAINT [FK_QuizQuestions_Courses_CourseId]
GO
ALTER TABLE [dbo].[UserBadges]  WITH CHECK ADD  CONSTRAINT [FK_UserBadges_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserBadges] CHECK CONSTRAINT [FK_UserBadges_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserCourseQuizAttempts]  WITH CHECK ADD  CONSTRAINT [FK_UserCourseQuizAttempts_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserCourseQuizAttempts] CHECK CONSTRAINT [FK_UserCourseQuizAttempts_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserCourseQuizAttempts]  WITH CHECK ADD  CONSTRAINT [FK_UserCourseQuizAttempts_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[UserCourseQuizAttempts] CHECK CONSTRAINT [FK_UserCourseQuizAttempts_Courses_CourseId]
GO
ALTER TABLE [dbo].[UserCourseQuizSessions]  WITH CHECK ADD  CONSTRAINT [FK_UserCourseQuizSessions_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserCourseQuizSessions] CHECK CONSTRAINT [FK_UserCourseQuizSessions_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserCourseQuizSessions]  WITH CHECK ADD  CONSTRAINT [FK_UserCourseQuizSessions_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserCourseQuizSessions] CHECK CONSTRAINT [FK_UserCourseQuizSessions_Courses_CourseId]
GO
ALTER TABLE [dbo].[UserLearningProfiles]  WITH CHECK ADD  CONSTRAINT [FK_UserLearningProfiles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLearningProfiles] CHECK CONSTRAINT [FK_UserLearningProfiles_AspNetUsers_UserId]
GO
USE [master]
GO
